.titleInputForm {
    font-family: sans-serif;
    font-size: 20px;
    color: #66666;
    
}
#articleTitle {
    font-family: sans-serif;
    font-size: 22px;
    font-weight：bold;
    color: #66666;
    width: 80%;
}
#previewTitle {
    font-family: sans-serif;
    font-size: 22px;
    font-weight：bold;
    color: #66666;
    align: center;
}
#previewTitleFormat {
    font-family: sans-serif;
    font-size: 22px;
    font-weight：bold;
    color: #66666;
    align: center;
}

user {
  display: block;
  font-size: 17px;
  color: red;
}
user img{
  
}
user .userInfo{
  display: block;
  font-size: 17px;
  color: red;
}
user .userInfo .userDescription {
  display: block;
  font-size: 17px;
  color: red;
}
