@charset "utf-8";

/***
 *	
 **/

.bodyLeft .productCategory {
margin-top:1px;
	width: 200px;
	clear: both;
background-color: #ac7401;
color: #ffffff;
}

.bodyLeft .productCategory .top {
	height: 27px;
	line-height: 27px;
	padding-top: 2px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 14px;
	clear: both;
	background-color:#78370b;
}

.bodyLeft .productCategory .middle {
	width: 200px;
	clear: both;
	_overflow: hidden;
	background: url(../images/product_y_bg.gif) 0px 0px repeat-y;
}

.bodyLeft .productCategory .menu li {
	width: 200px;
	height: 27px;
	line-height: 27px;
	float: left;
	padding: 0px 0px;
	position: relative;
	z-index: 5;
	font-size: 12px;
background-color: #ac7401;
}

.bodyLeft .productCategory .menu li:hover {
	background-color: #78370b;
color: #78670b;
}

.bodyLeft .productCategory .menu li.mainCategory {
	width: 190px;
	height: 27px;
	line-height: 27px;
	clear: both;
	padding-left: 10px;
	margin-top: 5px;
	font-size: 14px;
background-color: #78370b;
color: #ffffff;
}

.bodyLeft .productCategory .menu li.mainCategory a:hover {
	color: #ff6600;
background-color: #7ac7401;
}

.bodyLeft .productCategory .menu .sf-sub-indicator {
	display: block;
	position: absolute;
	text-indent: -999em;
}

.bodyLeft .productCategory .menu li ul {
	width: 200px;
	line-height: 27px;
	display: none;
	float: left;
	padding: 5px;
	font-size: 12px;
	position: absolute;
color: #ffffff;
background-color: #78370b;
}

.bodyLeft .productCategory .menu li ul li {
	width: 90px;
	line-height: 27px;
	float: left;
	padding: 5px;
	font-size: 12px;
color: #ffffff;
background-color: #78370b;
}

.bodyLeft .productCategory .menu li ul li:hover {
	background-color: #78370b;
}

.bodyLeft .productCategory .menu li:hover ul, .bodyLeft .productCategory .menu li.sfHover ul {
	left: 200px;
	top: 0px;
	border: solid 2px #e4e4e4;
}

.bodyLeft .productCategory .menu li .icon {
	width: 25px;
	height: 27px;
	line-height: 27px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
}

.bodyLeft .productCategory .menu li a {
	color: #ffffff;
}

.bodyLeft .productCategory .bottom {
	height: 9px;
	clear: both;
	overflow: hidden;
}

.bodyLeft .hotProduct .top {
width: 190px;
	height: 29px;
	line-height: 29px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 12px;
	clear: both;
color:#ffffff;
	background-color:#78370b;
overflow: hidden;
}

.bodyLeft .hotProduct .middle {
	clear: both;
	background: url(../images/product_y_bg.gif) -210px 0px repeat-y;
}

.bodyLeft .hotProduct li {
width:195px;
	line-height: 29px;
	padding-right: 3px;
	margin: 0px 4px 0px 1px;
	clear: both;
border-top: 1px dashed #ffe7cd;
background-color: #ac7401;

}
.bodyLeft .hotProduct li a{
color:#ffffff;

}



.bodyLeft .hotProduct .number1 .icon {
	width: 25px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) 0px -240px no-repeat;
}

.bodyLeft .hotProduct .number2 .icon {
	width: 25px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) -30px -240px no-repeat;
}

.bodyLeft .hotProduct .number3 .icon {
	width: 25px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) -60px -240px no-repeat;
}

.bodyLeft .hotProduct .number4 .icon {
	width: 25px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) -90px -240px no-repeat;
}

.bodyLeft .hotProduct .number5 .icon {
	width: 25px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) -120px -240px no-repeat;
}

.bodyLeft .hotProduct .number6 .icon {
	width: 25px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) -150px -240px no-repeat;
}

.bodyLeft .hotProduct .number7 .icon {
	width: 25px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) -180px -240px no-repeat;
}

.bodyLeft .hotProduct .number8 .icon {
	width: 25px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) -210px -240px no-repeat;
}

.bodyLeft .hotProduct .number9 .icon {
	width: 25px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) -240px -240px no-repeat;
}

.bodyLeft .hotProduct .number10 .icon {
	width: 25px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) -270px -240px no-repeat;
}

.bodyLeft .hotProduct .bottom {
	height: 5px;
	clear: both;
	overflow: hidden;
	background: url(../images/product_bg.gif) 0px -150px no-repeat;
}
.productHistory{
	float:right;
width:200px;
overflow: hidden;
}
.bodyLeft .productHistory .top ,.productHistory .top{
margin-top:1px;
	height: 29px;
	line-height: 29px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 12px;
	clear: both;
color:#ffffff;
	background-color: #78370b;
}

.bodyLeft .productHistory .middle ,.productHistory .middle {
	clear: both;
	background-color:#ac7401;
}

.bodyLeft .productHistory li ,.productHistory li {
	line-height: 29px;
	padding-right: 3px;
	margin: 0px 4px 0px 1px;
	clear: both;
	border-top: 1px dashed #ffe7cd;
}

.productHistory li a {
	color:#ffffff;
}

.bodyLeft .productHistory li .icon ,.productHistory .icon{
	width: 18px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	display: inline;
	background: url(../images/product_bg.gif) -30px -270px no-repeat;
}

.bodyLeft .productHistory .bottom ,.productHistory .bottom {
	height: 5px;
	clear: both;
	overflow: hidden;
	background: url(../images/product_bg.gif) 0px -210px no-repeat;
}

.bodyRight .listBar {
	height: 29px;
	clear: both;
}

.bodyRight .listBar .left {
	width: 3px;
	height: 29px;
	float: left;
	background: url(../images/product_bg.gif) 0px -300px no-repeat;
}

.bodyRight .listBar .middle {
	width: 974px;
	height: 29px;
	float: left;
	background: url(../images/product_x_bg.gif) 0px 0px repeat-x;
}

.bodyRight .listBar .middleCenter {
	width: 774px;
	height: 29px;
	float: left;
	background: url(../images/product_x_bg.gif) 0px 0px repeat-x;
}

.bodyRight .listBar .path {
	float: left;	
}

.bodyRight .listBar .path a {
	margin: 0px 2px;
}

.bodyRight .listBar .path .icon {
	width: 18px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) -60px -270px no-repeat;
}

.bodyRight .listBar .total {
	line-height: 29px;
	float: right;
	padding-right: 5px;
	color: #656d77;
}

.bodyRight .listBar .right {
	width: 3px;
	height: 29px;
	float: right;
	background: url(../images/product_bg.gif) -30px -300px no-repeat;
}

.addCartItemTip {
	width: 270px;
	height: 100px;
	display: none;
	position: absolute;
	z-index: 10;
}

.addCartItemTip .top {
	width: 270px;
	height: 15px;
	clear: both;
	background: url(../images/product_bg.gif) -60px -300px no-repeat;
}

.addCartItemTip .middle {
	width: 250px;
	line-height: 25px;
	clear: both;
	padding: 0px 10px 3px 10px;
	color: #666666;
	background: url(../images/product_y_bg.gif) -630px 0px repeat-y;
}

.addCartItemTip .bottom {
	width: 270px;
	height: 7px;
	clear: both;
	overflow: hidden;
	background: url(../images/product_bg.gif) -60px -330px no-repeat;
}

.addCartItemTip .top .addCartItemTipClose {
	width: 9px;
	height: 9px;
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
	background: url(../images/product_bg.gif) -90px -270px no-repeat;
}

.addCartItemTip .middle .successIcon {
	width: 12px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) no-repeat -120px -270px;
}

.addCartItemTip .middle .errorIcon {
	width: 12px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/product_bg.gif) no-repeat -150px -270px;
}

.addCartItemTip .middle .formButton {
	width: 71px;
	height: 22px;
	line-height: 22px;
	margin-top: 5px;
	margin-right: 20px;
	outline: none;
	cursor: pointer;
	color: #666666;
	font-size: 12px;
	border: none;
	background: url(../images/product_bg.gif) -180px -270px no-repeat;
}

.addCartItemTip .middle .formButton:hover {
	color: #000000;
	background: url(../images/product_bg.gif) -260px -270px no-repeat;
}