<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>啄木鸟（Piculus）</title>
    <script src="../assets/js/import-css.js"></script>
	<script src="../assets/js/import-js.js"></script>
	<script type="text/javascript">var activeMenu = [14, 15];</script>
	<script src="../assets/js/load.js"></script>
	<script src="../assets/js/pagination.js"></script>
	<script src="../assets/ctrl/DoCollectionCtrl.js"></script>
	<script src="../assets/My97DatePicker/WdatePicker.js"></script>
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state"></div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state"></div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="">流程控制</li>
                    <li class="active">发起收集广播</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                       发起收集广播
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="widget-box">
                            <div class="widget-header widget-header-blue widget-header-flat">
                                <h4 class="widget-title lighter">收集条件</h4>
                            </div>
                            <div class="widget-body">
                                <form class="form-horizontal" role="form">
                                    <div class="widget-main">
                                        <div id="fuelux-wizard-container">
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label no-padding-right"> 收集区间： </label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="startDate" placeholder="开始时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                                                    ~
                                                    <input type="text" id="endDate" placeholder="结束时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="wizard-actions">
                                            <button class="btn btn-primary" id="sendColletion" type="button">
                                                <i class="ace-icon fa fa-commit icon-on-right"></i>
                                                发送
                                            </button>
                                        </div>
                                    </div><!-- /.widget-main -->
                                </form>
                            </div><!-- /.widget-body -->
                        </div>
                        <div class="hr hr-18 dotted hr-double"></div>
                        
                        <div class="row" id="pagination" style="display: none"></div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div id="footer" class="footer"></div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

</body>
</html>
