<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>郑州轻工业学院活动报名</title>
<script src="../assets/js/import-css.js"></script>
<script src="../assets/js/import-js.js"></script>
<script type="text/javascript">
	var activeMenu = [ 11, 18 ];
</script>
<script src="../assets/js/pagination.js"></script>
<script src="../assets/ctrl/AddSol.js"></script>
<script src="../assets/My97DatePicker/WdatePicker.js"></script>
</head>

<body class="no-skin">

 <div class="page-content">
	<div class="page-header">
		<h1>郑州轻工业学院上海校友2018元旦活动报名</h1>
	</div>
	<!-- /.page-header -->

	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<div class="widget-box">
				<div class="widget-header widget-header-blue widget-header-flat">
					<h4 class="widget-title lighter">校友信息</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<div id="fuelux-wizard-container">
							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right">
									姓名： </label>
								<div class="col-sm-2">
									<input type="text" id="name" placeholder="如 张XX"
										class="col-xs-12" />
								</div>
								<label class="col-sm-1 control-label no-padding-right">手机号：</label>
								<div class="col-sm-2">
									<input type="text" id="caseId" placeholder="手机号"
										class="col-xs-12" />
								</div>

								<label class="col-sm-1 control-label no-padding-right">
									性别： </label>
								<div class="col-sm-2">
									<select id="sex">
										<option value="男">男</option>
										<option value="女">女</option>
									</select>
								</div>
								<label class="col-sm-1 control-label no-padding-right">
									入学时间： </label>
								<div class="col-sm-2">
									<input type="date" id="sendDate" class="col-xs-12" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right">
									从事行业： </label>
								<div class="col-sm-2">
									<input type="text" id="testResault" placeholder="如 工业设计，金融，软件"
										class="col-xs-12" />
								</div>
								<label class="col-sm-1 control-label no-padding-right">
									感兴趣行业： </label>
								<div class="col-sm-2">
									<input type="text" id="testType" placeholder="感兴趣行业"
										class="col-xs-12" />
								</div>
								<label class="col-sm-1 control-label no-padding-right">
									学院： </label>
								<div class="col-sm-2">
									<input type="text" id="doctor" placeholder="如 计算机学院"
										class="col-xs-12" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right">
									专业： </label>
								<div class="col-sm-2">
									<input type="text" id="department" placeholder="如 软件设计"
										class="col-xs-12" />
								</div>

								<label class="col-sm-1 control-label no-padding-right">
									留言： </label>
								<div class="col-sm-4">
									<input type="text" id="description" placeholder="建议或意见"
										class="col-xs-12" />
								</div>
							</div>
						</div>
						<hr />
						<div class="wizard-actions">
							<button class="btn btn-block btn-primary" id="addSol"
								type="button">
								<i class="ace-icon fa fa-search icon-on-right"></i> 提交
							</button>
						</div>
					</div>
					<!-- /.widget-main -->
				</div>
				<!-- /.widget-body -->
			</div>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- <div class="row">
	<div class="col-xs-12">
		本次活动由<a href="http://www.iukiss.com" target="_blank">IUKISS</a>提供技术支持
	</div>
	</div> -->
</div>

	<script id="dataList" type="text/x-jsrender">
    <tr>
        <td>{{:errorInfo}}</td>
    </tr>

	</script>
</body>
</html>
