<meta charset="utf-8"/>
<div class="col-sm-5">
    共<span id="totalPage" class="bolder blue"></span>页
    每页<span id="pageSize" class="bolder blue"></span>条
    共<span id="totalCount" class="bolder blue"></span>条
    当前第<span id="pageIndex" class="bolder blue"></span>/<span id="pageIndexEnd" class="bolder blue"></span>页
    第<input id="goPageIndex" type="text" class="text-center" style="width: 40px;height: 25px">页
    <button type="button" id="pageGo" class="btn btn-white btn-sm btn-primary">GO</button>
</div>
<div class="col-sm-2">
    <button type="button" id="pageFirst" class="btn btn-white btn-sm btn-primary">首页</button>
    <button type="button" id="pagePrevious" class="btn btn-white btn-sm btn-primary">上一页</button>
    <button type="button" id="pageNext" class="btn btn-white btn-sm btn-primary">下一页</button>
    <button type="button" id="pageLast" class="btn btn-white btn-sm btn-primary">尾页</button>
</div>